In [1]:
#program parameters
gdp_file = 'data/GDP/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv'
pop_file = 'data\population\API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv'
fos_file = 'data\Fossil\data\\fossil-fuel-co2-emissions-by-nation_csv.csv'
start = 1950
finish = 1990

In [2]:
import pandas as pd 
import io_and_cleaning as iac
import analysis
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', str)

In [3]:
gdp_data,pop_data,fos_data = iac.input_data(gdp_file,pop_file,fos_file)
fos_data = iac.clean_fos_data(fos_data)
gdp_data = iac.clean_gdp_pop_data(gdp_data)
pop_data = iac.clean_gdp_pop_data(pop_data)
complete_data = iac.join_dataframes(gdp_data,pop_data,fos_data)

countries that are not present in joined dataframe: {'WEST BANK AND GAZA', 'FEDERATION OF MALAYA-SINGAPORE', "KOREA, DEM. PEOPLE'S REP.", 'SMALL STATES', 'BONAIRE, SAINT EUSTATIUS, AND SABA', 'PACIFIC ISLAND SMALL STATES', 'SARAWAK', 'ZANZIBAR', 'OCCUPIED PALESTINIAN TERRITORY', 'CHRISTMAS ISLAND', 'YEMEN REP.', 'LEEWARD ISLANDS', 'GUADELOUPE', 'ST. PIERRE & MIQUELON', 'MONTSERRAT', 'FORMER PANAMA CANAL ZONE', 'FRENCH INDO-CHINA', 'ST. MARTIN (FRENCH PART)', 'SAINT HELENA', 'FORMER GERMAN DEMOCRATIC REPUBLIC', 'NIUE', 'KOSOVO', 'PENINSULAR MALAYSIA', 'ESWATINI', 'NORTHERN MARIANA ISLANDS', 'FRENCH EQUATORIAL AFRICA', 'BRITISH VIRGIN ISLANDS', 'FORMER DEMOCRATIC YEMEN', 'WALLIS AND FUTUNA ISLANDS', 'FRENCH WEST AFRICA', 'UNITED KOREA', 'SAN MARINO', 'USSR', 'YEMEN, REP.', 'ISLE OF MAN', 'CHANNEL ISLANDS', 'GIBRALTAR', 'DEMOCRATIC REPUBLIC OF VIETNAM', 'SAMOA', 'REPUBLIC OF SOUTH VIETNAM', 'NETHERLAND ANTILLES AND ARUBA', 'MARTINIQUE', 'VIRGIN ISLANDS (U.S.)', 'COOK ISLANDS', 'FRENCH GUIANA', 'PACIFIC ISLANDS (PALAU)', 'SWAZILAND', 'SABAH', 'ANGUILLA', 'YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC)', 'CZECHOSLOVAKIA', 'NETHERLAND ANTILLES', 'RYUKYU ISLANDS', 'TANGANYIKA', 'FALKLAND ISLANDS (MALVINAS)', 'MONACO', 'CARIBBEAN SMALL STATES', 'GUAM', 'FORMER YEMEN', 'TAIWAN', 'YUGOSLAVIA (MONTENEGRO & SERBIA)', 'PUERTO RICO', 'RHODESIA-NYASALAND'}

In [4]:
complete_data = iac.filtering_data(complete_data,start,finish)

In [5]:
analysis.biggest_gdp(complete_data)

                                                GDP    GDPpc
Year position Country Name
1960 1        UNITED STATES          543300000000.0  3007.12
     2        NEW ZEALAND          5485854791.97096  2312.95
     3        CANADA               40461721692.6468  2259.29
     4        LUXEMBOURG           703925705.942958  2242.02
     5        SWEDEN               15822585033.5764   2114.0
1961 1        UNITED STATES          563300000000.0  3066.56
     2        NEW ZEALAND          5670064168.21773  2343.29
     3        SWEDEN               17212686614.5726  2288.92
     4        CANADA               40934952063.9468  2240.43
     5        LUXEMBOURG           704145671.350213  2222.37
1962 1        UNITED STATES          605100000000.0  3243.84
     2        SWEDEN               18667251380.0746  2468.69
     3        NEW ZEALAND          6077496267.76294  2448.63
     4        LUXEMBOURG           741509480.796284   2311.8
     5        CANADA               42227447631.9159  2268.59
1963 1        UNITED STATES          638600000000.0  3374.52
     2        SWEDEN               20204870629.7441  2657.02
     3        NEW ZEALAND          6638937283.13963  2622.22
     4        LUXEMBOURG           791140595.772755  2441.04
     5        CANADA               45029988561.2124   2374.5
1964 1        UNITED STATES          685800000000.0  3573.94
     2        SWEDEN               22532416750.0125  2941.05
     3        NEW ZEALAND          7274144350.81809  2813.55
     4        LUXEMBOURG           903158753.943622  2755.63
     5        CANADA                49377522896.703  2555.11
1965 1        KUWAIT                2097451694.2033  4443.45
     2        UNITED STATES          743700000000.0  3827.53
     3        SWEDEN                24795499685.775   3206.1
     4        LUXEMBOURG           921600736.304026  2780.09
     5        CANADA               54515179580.7148  2770.36
1966 1        KUWAIT               2391486978.43741  4571.16
     2        UNITED STATES          815000000000.0  4146.32
     3        SWEDEN               26971486546.2848  3454.43
     4        ICELAND              628893310.399926  3215.69
     5        CANADA               61088384036.6515  3047.11
1967 1        UNITED STATES          861700000000.0  4336.43
     2        KUWAIT               2441893027.16326  4230.85
     3        SWEDEN               29275995674.6888  3720.93
     4        CANADA               65668655501.1254  3217.16
     5        ICELAND              621225962.154708  3125.65
1968 1        UNITED STATES          942500000000.0  4695.92
     2        KUWAIT               2663119574.34892  4207.73
     3        SWEDEN               31066819929.2853  3926.41
     4        CANADA               71829810519.8955  3462.68
     5        LUXEMBOURG           1066447130.82052  3175.37
1969 1        UNITED STATES         1019900000000.0  5032.14
     2        SWEDEN               33738102482.1558  4234.16
     3        KUWAIT               2769532343.88127   4019.8
     4        CANADA               79148411661.6902  3763.95
     5        LUXEMBOURG             1234878980.502   3658.9
1970 1        UNITED STATES         1073303000000.0   5234.3
     2        SWEDEN               38092452060.6201  4736.22
     3        LUXEMBOURG           1457768455.02219  4298.03
     4        CANADA               87896095320.1263  4121.93
     5        KUWAIT               2873984878.18538  3860.58
1971 1        UNITED STATES         1164850000000.0  5609.38
     2        SWEDEN               41566412922.6087  5132.71
     3        KUWAIT               3880370401.57259  4858.73
     4        CANADA               99271961774.6088  4520.16
     5        LUXEMBOURG           1518773421.37846   4435.4
1972 1        UNITED STATES         1279110000000.0  6094.02
     2        SWEDEN               48954145808.8359  6027.13
     3        LUXEMBOURG           1901697369.62698  5486.72
     4        KUWAIT                4451200972.9401  5224.92
     5        CANADA               113082820486.918  5089.59
1973 1        LUXEMBOURG           2609875802.11136  7447.21
     2        SWEDEN               59404966684.2214  7301.22
     3        UNITED STATES         1425376000000.0  6726.36
     4        DENMARK              30730626663.3606  6119.37
     5        KUWAIT               5408293998.65138   5971.8
1974 1        QATAR                2401403227.44085 15631.69
     2        KUWAIT               13004774556.6166 13521.67
     3        LUXEMBOURG           3183637116.81856  8966.73
     4        SWEDEN                66013338964.725  8089.91
     5        UNITED STATES         1545243000000.0  7225.69
1975 1        UNITED ARAB EMIRATES 14720672506.5004 26848.09
     2        QATAR                2512784033.37828 15292.57
     3        KUWAIT               12024138275.8621 11768.47
     4        SWEDEN               82885397620.5385 10117.31
     5        LUXEMBOURG           3123333333.33333   8701.3
1976 1        UNITED ARAB EMIRATES 19213022691.0526 30117.95
     2        QATAR                3284301332.18953 18906.15
     3        KUWAIT               13131668946.6484 12093.27
     4        SWEDEN               89362071672.9034 10868.28
     5        LUXEMBOURG           3423586206.89655  9490.69
1977 1        UNITED ARAB EMIRATES 24871775164.6043 33823.18
     2        QATAR                3617580171.76055 19842.04
     3        KUWAIT               14135729588.2763 12253.87
     4        SWEDEN               94468740851.4816 11448.62
     5        LUXEMBOURG           3789321328.08104 10486.34
1978 1        UNITED ARAB EMIRATES 23775831783.4263 28457.08
     2        QATAR                4052000412.70087  21110.0
     3        LUXEMBOURG           4718539771.99949 13034.39
     4        KUWAIT               15500908760.4507 12663.49
     5        SWEDEN               104442351222.751 12620.52
1979 1        UNITED ARAB EMIRATES 31225463217.7582 33512.63
     2        QATAR                5633000318.02401 27455.01
     3        KUWAIT                24746019536.903 19093.02
     4        LUXEMBOURG           5516982663.73143 15204.33
     5        BRUNEI DARUSSALAM    2803780005.51826 14945.84
1980 1        UNITED ARAB EMIRATES 43598748449.0479 42764.54
     2        QATAR                7829094613.07082  35010.4
     3        BRUNEI DARUSSALAM    4928824957.96749 25422.04
     4        KUWAIT               28638550499.4451 20924.21
     5        SWITZERLAND          122660905890.076 19410.19
1981 1        UNITED ARAB EMIRATES 49333424135.1131 44987.54
     2        QATAR                8661263763.73626  34926.7
     3        BRUNEI DARUSSALAM    4366213849.57637 21828.12
     4        SAUDI ARABIA         184291888768.662 17871.99
     5        SWITZERLAND          112339195092.149 17679.87
1982 1        UNITED ARAB EMIRATES 46622718605.2847 40025.82
     2        QATAR                7596703214.28571 27402.27
     3        BRUNEI DARUSSALAM     4264252336.4486 20693.82
     4        SWITZERLAND          115140108850.909 18015.11
     5        NORWAY               62647195537.6511 15224.89
1983 1        UNITED ARAB EMIRATES 42803323345.1376 34843.16
     2        QATAR                6467582307.69231 20910.45
     3        BRUNEI DARUSSALAM    3844723142.45149 18129.24
     4        SWITZERLAND          114730757467.486 17874.25
     5        BERMUDA                   889400000.0 15902.02
1984 1        UNITED ARAB EMIRATES  41807954235.903 32309.83
     2        QATAR                6704395824.17582 19645.31
     3        BERMUDA                   985699968.0 17469.83
     4        BRUNEI DARUSSALAM     3782523088.4628 17337.03
     5        UNITED STATES         4037613000000.0 17121.23
1985 1        UNITED ARAB EMIRATES 40603650231.5445  29720.9
     2        BERMUDA                  1039500032.0 18269.54
     3        UNITED STATES         4338979000000.0 18236.83
     4        SWITZERLAND          111073640470.473 17166.52
     5        QATAR                6153296456.04396  16590.8
1986 1        SWITZERLAND           159223703930.18 24480.42
     2        UNITED ARAB EMIRATES 33943612094.7971 23467.88
     3        BERMUDA                  1173500032.0 20450.66
     4        UNITED STATES         4579631000000.0 19071.23
     5        NORWAY                78693253275.995 18883.27
1987 1        SWITZERLAND          199403912956.009 30466.11
     2        UNITED ARAB EMIRATES 36384908744.2114 23726.31
     3        NORWAY               94230055658.6271  22505.9
     4        ICELAND              5520318404.64149 22453.19
     5        LUXEMBOURG           8320902215.01891 22443.43
1988 1        SWITZERLAND          215721878630.493 32717.92
     2        LUXEMBOURG           9418167855.18376 25219.35
     3        JAPAN                3071683013178.91 25059.01
     4        SWEDEN               206986674500.588 24534.69
     5        ICELAND              6106635816.24587 24451.97
1989 1        SWITZERLAND           208280848462.62 31334.98
     2        LUXEMBOURG            10037674037.674 26618.07
     3        SWEDEN               217948315624.564 25662.22
     4        BERMUDA                  1501500032.0 25517.92
     5        JAPAN                3054914166263.18 24822.78
1990 1        SWITZERLAND          265987061618.198 39607.82
     2        LUXEMBOURG           12778792853.6939 33465.48
     3        SWEDEN               261846194498.885 30593.67
     4        FINLAND              141438345513.917 28364.65
     5        NORWAY               119791683307.507 28242.94

In [6]:
analysis.biggest_emmiters(complete_data)

                                      CO2pc  Total CO2
Year position Country Name
1960 1        LUXEMBOURG           0.010004       3141
     2        UNITED STATES        0.004363     788300
     3        UNITED KINGDOM       0.003041     159340
     4        CANADA               0.002937      52603
     5        BELGIUM              0.002711      24816
1961 1        LUXEMBOURG           0.009976       3161
     2        UNITED STATES        0.004276     785521
     3        UNITED KINGDOM       0.003042     160605
     4        CANADA               0.002898      52954
     5        BELGIUM              0.002755      25305
1962 1        LUXEMBOURG           0.009821       3150
     2        UNITED STATES        0.004367     814619
     3        UNITED KINGDOM       0.003039     161811
     4        CANADA               0.003035      56500
     5        BELGIUM              0.002902      26757
1963 1        LUXEMBOURG           0.009633       3122
     2        UNITED STATES        0.004495     850622
     3        BELGIUM              0.003105      28847
     4        UNITED KINGDOM       0.003069     164664
     5        CANADA               0.003036      57570
1964 1        LUXEMBOURG            0.01024       3356
     2        UNITED STATES        0.004627     887918
     3        CANADA               0.003356      64849
     4        UNITED KINGDOM       0.003072     165900
     5        BELGIUM              0.003014      28269
1965 1        KUWAIT               0.020463       9659
     2        LUXEMBOURG           0.010039       3328
     3        UNITED STATES        0.004759     924713
     4        NEW CALEDONIA        0.003713        336
     5        CANADA               0.003494      68763
1966 1        KUWAIT               0.018323       9586
     2        LUXEMBOURG           0.009491       3169
     3        UNITED STATES        0.004942     971333
     4        NEW CALEDONIA        0.004406        412
     5        CANADA               0.003527      70717
1967 1        KUWAIT               0.012021       6938
     2        LUXEMBOURG           0.009248       3098
     3        UNITED STATES        0.005072    1007829
     4        NEW CALEDONIA        0.004166        402
     5        CANADA               0.003766      76874
1968 1        LUXEMBOURG           0.009963       3346
     2        KUWAIT                0.00967       6120
     3        UNITED STATES        0.005206    1044820
     4        NEW CALEDONIA        0.005045        502
     5        CANADA                0.00399      82776
1969 1        LUXEMBOURG           0.010661       3598
     2        KUWAIT                0.01062       7317
     3        UNITED STATES        0.005415    1097559
     4        NEW CALEDONIA        0.004087        425
     5        CANADA               0.003987      83829
1970 1        QATAR                0.018846       2064
     2        BRUNEI DARUSSALAM    0.017286       2239
     3        LUXEMBOURG           0.011053       3749
     4        KUWAIT               0.009173       6829
     5        NEW CALEDONIA         0.00583        653
1971 1        QATAR                0.020902       2496
     2        BRUNEI DARUSSALAM     0.01511       2050
     3        BAHAMAS, THE         0.010558       1836
     4        LUXEMBOURG           0.010513       3600
     5        KUWAIT               0.009267       7401
1972 1        QATAR                0.022536       2941
     2        BRUNEI DARUSSALAM    0.018167       2580
     3        LUXEMBOURG           0.010617       3680
     4        BAHAMAS, THE         0.009951       1770
     5        KUWAIT               0.008846       7536
1973 1        QATAR                0.023913       3400
     2        BRUNEI DARUSSALAM    0.018328       2722
     3        BAHAMAS, THE         0.011828       2147
     4        LUXEMBOURG           0.011026       3864
     5        KUWAIT                 0.0073       6611
1974 1        QATAR                0.018617       2860
     2        BRUNEI DARUSSALAM    0.014394       2232
     3        LUXEMBOURG           0.011069       3930
     4        BAHAMAS, THE         0.010886       2015
     5        UNITED STATES        0.005864    1254019
1975 1        QATAR                0.018185       2988
     2        UNITED ARAB EMIRATES 0.015453       8473
     3        BRUNEI DARUSSALAM    0.011947       1931
     4        BAHAMAS, THE         0.011917       2251
     5        LUXEMBOURG           0.008998       3230
1976 1        UNITED ARAB EMIRATES  0.01695      10813
     2        QATAR                0.016302       2832
     3        BRUNEI DARUSSALAM     0.00977       1643
     4        BAHAMAS, THE         0.009139       1763
     5        LUXEMBOURG           0.008951       3229
1977 1        QATAR                0.014848       2707
     2        UNITED ARAB EMIRATES 0.014384      10577
     3        BAHAMAS, THE         0.013445       2650
     4        BRUNEI DARUSSALAM    0.009982       1744
     5        LUXEMBOURG           0.008247       2980
1978 1        QATAR                0.014962       2872
     2        UNITED ARAB EMIRATES 0.014627      12221
     3        BRUNEI DARUSSALAM     0.01436       2602
     4        BAHAMAS, THE         0.008944       1802
     5        LUXEMBOURG           0.008925       3231
1979 1        QATAR                0.019086       3916
     2        BRUNEI DARUSSALAM    0.010816       2029
     3        UNITED ARAB EMIRATES 0.010714       9983
     4        BAHAMAS, THE         0.009175       1890
     5        LUXEMBOURG           0.009111       3306
1980 1        QATAR                0.015973       3572
     2        BAHAMAS, THE         0.010347       2179
     3        UNITED ARAB EMIRATES 0.009871      10064
     4        BRUNEI DARUSSALAM    0.009681       1877
     5        LUXEMBOURG           0.008258       3007
1981 1        QATAR                0.014142       3507
     2        UNITED ARAB EMIRATES 0.009166      10051
     3        LUXEMBOURG           0.007039       2571
     4        BAHRAIN              0.006215       2325
     5        UNITED STATES         0.00539    1236924
1982 1        QATAR                0.012152       3369
     2        UNITED ARAB EMIRATES 0.008632      10055
     3        BAHRAIN              0.006952       2683
     4        LUXEMBOURG            0.00661       2416
     5        UNITED STATES         0.00507    1174461
1983 1        QATAR                0.009935       3073
     2        UNITED ARAB EMIRATES 0.007846       9638
     3        LUXEMBOURG           0.006184       2261
     4        BAHRAIN               0.00566       2244
     5        UNITED STATES        0.005065    1184041
1984 1        QATAR                0.009854       3363
     2        UNITED ARAB EMIRATES 0.009778      12652
     3        LUXEMBOURG           0.006653       2435
     4        BAHRAIN              0.006166       2511
     5        UNITED STATES        0.005175    1220396
1985 1        UNITED ARAB EMIRATES 0.009966      13615
     2        QATAR                0.009121       3383
     3        LUXEMBOURG           0.006817       2500
     4        BAHRAIN              0.006628       2780
     5        UNITED STATES        0.005149    1225131
1986 1        QATAR                0.009117       3626
     2        UNITED ARAB EMIRATES 0.008906      12881
     3        BAHRAIN              0.006928       3003
     4        LUXEMBOURG            0.00667       2457
     5        KUWAIT               0.005257       9632
1987 1        UNITED ARAB EMIRATES 0.008481      13006
     2        QATAR                0.007429       3136
     3        BAHRAIN              0.006942       3117
     4        LUXEMBOURG           0.006376       2364
     5        UNITED STATES        0.005277    1278531
1988 1        UNITED ARAB EMIRATES 0.008107      13190
     2        QATAR                0.007333       3253
     3        BAHRAIN               0.00713       3317
     4        LUXEMBOURG            0.00652       2435
     5        BRUNEI DARUSSALAM    0.006379       1559
1989 1        UNITED ARAB EMIRATES 0.008611      14859
     2        QATAR                0.008462       3907
     3        LUXEMBOURG           0.006985       2634
     4        BRUNEI DARUSSALAM    0.006884       1731
     5        BAHRAIN              0.006654       3201
1990 1        UNITED ARAB EMIRATES 0.007757      14183
     2        ARUBA                0.007192        447
     3        LUXEMBOURG           0.007144       2728
     4        BAHRAIN              0.006834       3389
     5        QATAR                0.006742       3211

In [7]:
analysis.co2_change(complete_data)

     Country Name  CO2 in 1980  CO2 in 1990  Change in CO2
13   BAHAMAS, THE         2179          532          0.244
28       CAMEROON         1065          473          0.444
93        NIGERIA        18586        10689          0.575
81     MADAGASCAR          441          259          0.587
58         GUYANA          488          309          0.633
48          GABON         1809         1227          0.678
122          CHAD           57           39          0.684
130       URUGUAY         1592         1089          0.684
136        ZAMBIA          963          667          0.693
119        SWEDEN        19569        14166          0.724
47         FRANCE       137814       102452          0.743
118      SURINAME          647          483          0.747
73       KIRIBATI            8            6           0.75
86        MYANMAR         1507         1166          0.774
7         BELGIUM        36897        28920          0.784